/*
Name: Border Styles
Base:
    b = border-style
Modifiers:
    --none: none
    --dotted: dotted
    --dashed: dashed
    --solid: solid
Example: <div class="ba bw600 b--neutral-200 square750 {{modifier}}"></div><p>{{label}}</p>
 */

.b--dotted  { border-style: dotted; }
.b--dashed  { border-style: dashed; }
.b--solid   { border-style: solid; }
.b--none    { border-style: none; }