/*
---
Name: Rotate
Base:
    rotate: Rotate
Modifiers:
    -none: None
    -45: 45deg
    -90: 90deg
    -180: 180deg
    -360: 360deg
    --45: -45deg
    --90: -90deg
    --180: -180deg
    --360: -360deg
Breakpoints:
    -ns: not-small
    -m: medium
    -l: large
Example: <div class="db square700 overflow-hidden {{modifier}}"><img src="https://media.sproutsocial.com/uploads/LGO_Shopify-2.svg" loading="lazy" /></div><p>{{label}}</p>
---
*/

@mixin rotate($breakpoint-name: "") {
    $degrees: (
          45: 45deg,
          90: 90deg,
          180: 180deg,
          360: 360deg,
          -45: -45deg,
          -90: -90deg,
          -180: -180deg,
          -360: -360deg,
    );
    @each $name, $degree in $degrees {
        .rotate-#{$name}#{$breakpoint-name} {
            transform: rotate($degree);
        }
    }
    .rotate-none#{$breakpoint-name} {
        transform: rotate(0);
    }
  }
  
  @each $breakpoint-name, $breakpoint in $breakpoints {
    @if ($breakpoint != "") {
      @media #{$breakpoint} {
        @include rotate($breakpoint-name);
      }
    } @else {
      @include rotate;
    }
  }
  