name: Build
on:
  workflow_dispatch:
  push:
    pull_request:
      branches:
        - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v3

      - name: Setup Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x
          cache: yarn
        
      - name: Install Dependencies
        run: yarn install --frozen-lockfile

      - name: Build
        run: yarn build